@model IEnumerable<Template.Model.SubjectModels.SubjectViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<div class="panel-body">
    <div class="row">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">Subject List</h3>
                <div class="right">
                    <button type="button" class="btn-toggle-collapse"><i class="lnr lnr-chevron-up"></i></button>
                    <button type="button" class="btn-remove"><i class="lnr lnr-cross"></i></button>
                </div>
            </div>
            <div class="panel-body no-padding">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {

                            <tr>
                                <td>@item.Id</td>
                                <td><a href="#">@item.Name</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-md-6 text-right"><a asp-action="Create" class="btn btn-success">Add New Subject</a></div>
                </div>
            </div>
        </div>
    </div>
</div>




















